[Unit]
Description=Update k0sworker node-ip if IP address has changed
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update_k0sworker_nodeip.sh
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

